.slideshow {
	height: 600px;
	background-image: url('/img/slideshow1.jpg');
}

.mainContent {
	text-align: center;
	font-size: $h1FontSize;
	margin-bottom: 35px;

	.paragraphTitle {
		color: $lightBlue;
		margin: 35px 0;
		font-size: $largestFontSize;
		font-weight: bold;
	}

	.transforming{
		margin-bottom: 35px;

		.transformingContent {
			margin-bottom: 40px;
		}
	}

	.sixBoxesHolder {
		.sixBoxes {
			height: 370px;
			background-repeat: no-repeat;
			background-position-x: center;
			margin-bottom: 20px;
			position: relative;

			.titleOverlay {
				opacity: 0.8;
				background-color: $black;
				text-align: right;
				padding-right: 15px;
				margin: 0 15px 0;
				color: $white;
				font-weight: bold;
				font-size: $mediumFontSize;
				position: absolute;
				width: 360px;
				top: 0;
				left: 0;
				right: 0;
				height: 50px;
				line-height: 50px;
			}
		}

		.sixBoxes1 { background-image: url('/img/sixBoxes1.png'); }
		.sixBoxes2 { background-image: url('/img/sixBoxes2.png'); }
		.sixBoxes3 { background-image: url('/img/sixBoxes3.png'); }
		.sixBoxes4 { background-image: url('/img/sixBoxes4.png'); }
		.sixBoxes5 { background-image: url('/img/sixBoxes5.png'); }
		.sixBoxes6 { background-image: url('/img/sixBoxes6.png'); }
	}

	.stayConnected {
		.paragraphTitle {
			margin: 15px 0 35px;
		}

		.twitterFeed {
			.twitterContent {
				height: 300px;

				#twitter-widget-0 {
					width: 750px !important;
				}
			}
		}

		.newsletter {
			.newsLetterContent {
				text-align: left;
				padding: 10px 20px 20px;
				background-color: $grey;
				height: 300px;
				font-size: $regularFontSize;
				position: relative;

				p {
					margin: 20px 0;
				}

				input {
					padding: 10px;
					width: 100%;
					display: block;
				}

				a {
					position: absolute;
					bottom: 20px;
				}
			}
		}
	}
}